name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"
      VERIFY_RESERVED: 1
      CI: true
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0"]
        gemfile: [
          "gemfiles/rails6.gemfile"
        ]
        rbs: 'false'
        include:
        - ruby: "3.1"
          gemfile: "Gemfile"
          rbs: 'true'
        - ruby: "3.1"
          gemfile: "gemfiles/rails7.gemfile"
          rbs: 'false'
        - ruby: "3.1"
          gemfile: "gemfiles/railsmaster.gemfile"
          rbs: 'false'
        - ruby: "2.5"
          gemfile: "gemfiles/rails5.gemfile"
          rbs: 'false'
        - ruby: "2.7"
          gemfile: "gemfiles/rails5.gemfile"
          rbs: 'false'
        - ruby: "2.6"
          gemfile: "gemfiles/rails6.gemfile"
          rbs: 'false'
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: 2.2.15
        bundler-cache: true
    - name: Run Ruby Next
      run: bundle exec rake nextify
    - name: Run RSpec
      run: |
        bundle exec rake spec
    - name: Run RSpec without rails
      run: |
        bundle exec rake spec:norails
    - name: Run Rails secrets tests for uninitialized app
      run: |
        bundle exec rake spec:secrets
    - name: Run Rails autoload tests
      run: |
        bundle exec rake spec:autoload
    - name: Run RSpec with RBS runtime checks
      if: matrix.rbs == 'true'
      run: |
        bundle exec rbs collection install
        bundle exec rake spec:rbs -- --force-color
