name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.5", "2.6", "2.7"]
        gemfile: [
          "gemfiles/railsmaster.gemfile",
          "gemfiles/rails6.gemfile",
          "gemfiles/rails5.gemfile",
        ]
        exclude:
        - ruby: "2.5.x"
          gemfile: "gemfiles/railsmaster.gemfile"
    env:
      VERIFY_RESERVED: 1
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: bundle-ruby-${{ matrix.ruby }}-${{ hashFiles('**/Gemfile') }}-${{ hashFiles('**/*.gemspec') }}
        restore-keys: |
          bundle-ruby-${{ matrix.ruby }}-
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Bundle install
      run: |
        bundle config --global gemfile ${{ matrix.gemfile }}
        bundle install --jobs 4 --retry 3
    - name: Run RSpec
      run: |
        bundle exec rake spec
    - name: Run RSpec without rails
      run: |
        bundle exec rake spec:norails
